<app-left-navbar [isOpen]="isLeftNavbarOpen" [isOpenMobile]="isLeftNavbarOpenMobile">
</app-left-navbar>
<app-top-navbar
  (toggleLeftNavbar)="toggleNav()"
  (toggleLeftNavbarMobile)="toggleNavMobile()"
  [isOpen]="isLeftNavbarOpen"
  [resetHamburger]="resetHamburger"
></app-top-navbar>

<div class="container-fluid main-container" [ngClass]="{'nav-closed': !isLeftNavbarOpen}">
  <div class="main-content">
    <app-breadcrumb (closeNavMenu)="closeNav()"></app-breadcrumb>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
