<li class="nav-list-item"
  (click)="toggleChild()"
  (mouseenter)="toggleChildCondensed()"
  (mouseleave)="toggleChildCondensed(true)"
  [routerLink]="menu.link">
  <i [ngClass]="menu.faIcon"></i>
  <span class="nav-list-item-text">{{ menu.navListItemText }}</span>
  <span class="list-chevron" *ngIf="menu.subMenu">
    <i class="fas chevron" [ngClass]="chevronDirection"></i>
  </span>
</li>
<ul class="nav-list-child" *ngIf="menu.subMenu && showSubMenu" [@slideInOut]>
  <li class="nav-list-child-item" *ngFor="let subMenuItem of menu.subMenu">
    <a [routerLink]="subMenuItem.link">{{ subMenuItem.navListChildItemText }}</a>
  </li>
</ul>
<div class="nav-list-child-condensed" [@slideInOut]
  *ngIf="menu.subMenu && showSubMenuCondensed"
  (mouseenter)="keepMenuOpen()"
  (mouseleave)="closeMenu()">
  <div class="sub-menu-header">{{ menu.navListItemText }}</div>
  <ul (click)="closeMenu()">
    <li class="nav-list-child-item" *ngFor="let subMenuItem of menu.subMenu">
      <a [routerLink]="subMenuItem.link">{{ subMenuItem.navListChildItemText }}</a>
    </li>
  </ul>
</div>
