<div>
  <li class="nav-list-item"
    (click)="toggleChild()"
    (mouseenter)="toggleChildCondensed()"
    (mouseleave)="toggleChildCondensed(true)">
    <i class="fas fa-plus-circle"></i>
    <span class="nav-list-item-text">Onboarding</span>
    <span class="list-chevron">
      <i class="fas chevron" [ngClass]="chevronDirection"></i>
    </span>
  </li>
  <ul class="nav-list-child" *ngIf="showSubMenu" [@slideInOut]>
      <li class="nav-list-child-item">
          <a routerLink="/">Home</a>
        </li>
    <li class="nav-list-child-item">
        <a routerLink="onboarding/add">Add New Apartment</a>
      </li>
    <li class="nav-list-child-item">Staff Categories</li>
  </ul>
  <div class="nav-list-child-condensed"
    [@slideInOut]
    *ngIf="showSubMenuCondensed"
    (mouseenter)="keepMenuOpen()"
    (mouseleave)="closeMenu()"
  >
    <div class="sub-menu-header">Onboarding</div>
    <ul (click)="closeMenu()">
        <li class="nav-list-child-item">
            <a routerLink="/">Home</a>
          </li>
      <li class="nav-list-child-item">
        <a routerLink="onboarding/add">Add New Apartment</a>
      </li>
      <li class="nav-list-child-item">Staff Categories</li>
    </ul>
  </div>
</div>
