<div class="table-responsive">
  <table class="table table-condensed">
    <tr>
      <th>Ticket #</th>
      <th>Subject</th>
      <th>Department</th>
      <th>Assigned To</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>SEL10002</td>
      <td style="min-width: 100px;">Leaking Watertap</td>
      <td>Plumbing</td>
      <td>Roy Vivek</td>
      <td>Pending</td>
    </tr>
    <tr>
      <td>SEL10002</td>
      <td>Leaking Watertap really long and very long </td>
      <td>Plumbing</td>
      <td>Roy Vivek</td>
      <td>Pending</td>
    </tr><tr>
      <td>SEL10002</td>
      <td>Leaking Watertap</td>
      <td>Plumbing</td>
      <td>Roy Vivek</td>
      <td>Pending</td>
    </tr><tr>
      <td>SEL10002</td>
      <td>Leaking Watertap</td>
      <td>Plumbing</td>
      <td>Roy Vivek</td>
      <td>Pending</td>
    </tr><tr>
      <td>SEL10002</td>
      <td>Leaking Watertap</td>
      <td>Plumbing</td>
      <td>Roy Vivek</td>
      <td>Pending</td>
    </tr><tr>
      <td>SEL10002</td>
      <td>Leaking Watertap</td>
      <td>Plumbing</td>
      <td>Roy Vivek</td>
      <td>Pending</td>
    </tr>
    </table>
</div>