/* Primary Color: #F04F3A */

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url('images/background.jpg');
  background-attachment: fixed;
}

.primary-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn {
  cursor: pointer;
}

.red-border {
  border: 1px solid red !important;
}

.navbar {
  box-shadow: 1px 1px 10px #666;
  background: #FFF;
}

.navbar .nav-item {
  font-size: 0.9rem;
  font-weight: 600;
}

.dropdown-item {
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
}

.dropdown-item:hover {
  background: #F1F1F1;
  transition: 0.3s;
}

.dropdown-item i.fa {
  margin-right: 0.5rem;
}

.dropdown-menu.show {
  border-radius: 0px;
  border: 1px solid #F1F1F1;
  padding: 0.5rem 0 0 0;
}

.display-4 {
	font-size: 2rem;
}

.text-light-grey {
  color: #EEE;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-85 {
  opacity: 0.85;
}

.opacity-80 {
  opacity: 0.85;
}

.display-3 {
  font-size: 1rem;
}

.border-none {
  border: none;
}

.btn-app-download {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #BBB;
}

.btn-app-download:hover {
  border: 1px solid #888;
  transition: 0.3s;
}

.google {
}

.apple {
  padding: 4px 10px;
}

.app-download-text {
  font-size: 0.9rem;
}

.text-bold {
  font-weight: 600;
  color:#2B61A3;
}

.bg-white-transparent {
  background: #FFF;
  opacity: 0.92;
  font-size: 0.9rem;
  margin-top: 20px;
}

.bg-blue-transparent {
  background: #284971;
  color: #FFF;
  opacity: 0.92;
  font-size: 0.9rem;
  margin-top: 20px;
}

.card-feature {
  margin: 5px 0px;
  padding: 5px;
  text-align: center;
  font-size: 0.9rem;
}

.card-feature i.fa {
  font-size: 60px;
  margin: 5px 0px;
}

.card-feature:hover {
  cursor: pointer;
  transition: 0.3s;
}

.card-feature-orange {
  color: #F04F3A;
  border: 1px solid #F9D1CC;
}

.card-feature-orange:hover {
  background: #F04F3A;
  color: #FFF;
}

.card-feature-blue {
  color: #1F4477;
  border: 1px solid #BACFED;
}

.card-feature-blue:hover {
  background: #1F4477;
  color: #FFF;
}

.contact-box {
  padding-top: 15px;
}

.contact-box p.contact-item {
  font-size: 0.8rem;
  margin: 7px 0px;
}

.contact-box p.contact-item > a {
  text-decoration: none;
  color: #FFF;
}

.contact-box p.contact-item i.fa {
  margin-right: 10px;
  font-size: 15px;
}

.contact-box p.contact-item i.fa-envelope {
  font-size: 12px;
}

.no-padding {
  padding: 3px !important;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Media queries for tablets/desktops */
@media (min-width:768px) {
  .display-4 {
  	font-size: 3.2rem;
  }

  .display-3 {
    font-size: 1.4rem;
  }

  .bg-white-transparent {
    margin-top: 0px;
  }

  .card-feature {
    font-size: 0.8rem;
    height: 150px;
    padding: 13px 0px;
  }

  .card-feature i.fa {
    margin: 15px 0px;
  }

  .contact-box {
    padding-top: 65px;
  }
}
