@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.login-container {
  background: $highly-light-grey;
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-card {
  margin: auto;
  border-radius: 0px;
  -moz-border-radius: 0px;
  padding: 10px 20px;
  border: none;
  box-shadow: $light-grey 0px 0px 20px 3px;
}

.login-logo-image {
  text-align: center;
  margin-bottom: 10px;
}

.login-logo-image-light > img {
  width: 70px;
}

.login-logo-desc-text {
  text-align: justify;
  padding: 15px;
  color: #BBB;
  font-size: 0.7rem;
}

/* Responsive styles for mobile */
@media (min-width: 576px) {
  .login-card {
    margin: auto;
    width: 95%;
    max-width: 350px;
    margin-top: 50px;
    border: none;
    box-shadow: $very-light-grey 0px 0px 20px 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
  }

  .login-logo-desc-text-container {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background: #F1F1F1;
    padding: 5px;
  }

  .login-logo-desc-text {
    color: $primary-color-light;
  }
}

.btn-login {
  width: 100%;
  padding: 10px 12px;
  background: $logo-orange;
  color: #FFF;
  font-size: 0.9rem;
  margin: 10px 0px;

  i.fa {
    color: #FFF;
    margin-right: 4px;
    font-size: 0.7rem;
  }
}

.btn-google {
  width: 100%;
  padding: 10px 12px;
  background: $google-blue;
  color: #FFF;
  font-size: 0.9rem;
  margin: 10px 0px;

  i.fab {
    color: #FFF;
    margin-right: 4px;
    font-size: 0.8rem;
  }
}

.or-separator {
  text-align: center;
  font-size: 0.8rem;
  color: $primary-color-light;
}

.login-logo-text {
  color: #777;
  font-size: 1.3rem;
  text-align: center;
  margin: 7px 0px 25px 0px;
}

.small-light-link {
  text-align: center;

  a {
    text-decoration: none !important;
    font-size: 0.8rem;
    color: $primary-color-light;
  }
}

.login-footer {
  margin-top: 40px;
  font-size: 0.8rem;
  color: $primary-color-light;
  text-align: center;
}

.login-logo-image-light {
  margin: 30px 0px 10px 0px;
}

.app-store-links {
  margin: 10px 0px 0px 0px;
  a {
    margin: 0px 10px;
  }
}
