// Color variables
$primary-color: #333;
$primary-color-light: #999;
$logo-orange: #EE3B24;
$logo-orange-light: #FBCCC6;
$light-grey: #DDD;
$very-light-grey: #EAEAEA;
$highly-light-grey: #F9F9F9;
$nav-grey-bg: #F2F2F2;
$nav-grey-border: #F3F3F3;
$nav-orange-bg: #FFFAF9;

// Other variables
$font-stack: 'Open Sans', 'Segoe UI', sans-serif;
$admin-left-nav-width: 270px;
$admin-left-nav-width-mobile: 300px;
$admin-left-nav-width-closed: 55px;
