@import '../../../../sass/variables';

// Styles for the condensed nav list
div.nav-list-child-condensed {
  background: #fff;
  border: 1px solid #eaeaea;
  border-left: none;
  box-shadow: 1px 1px 4px #EEE;
  width: 250px;
  padding: 0;
  position: fixed;
  left: 55px;
  top: 56px;
  height: 100%;
  border-radius: 3px;
  transition: 0.4s;

  .sub-menu-header {
    background: $logo-orange;
    padding: 9px 15px;
    font-size: 0.9rem;
    color: #fff;
  }

  ul {
    list-style: none;
    border-left: none;
    li {
      color: $logo-orange;
      font-size: 0.9rem;
      cursor: pointer;
      padding: 10px 15px;
      transition: 0.3s;
    }
    li:hover {
      background: $highly-light-grey;
    }
  }
}

.nav-list-child-item {
  a {
    text-decoration: none;
    color: inherit;
  }
}
