<nav class="navbar nav-left">
  <div class="nav-left-header">
    <span class="logo">
      <img [src]="logoUrl" alt="">
    </span>
  </div>
  <div class="nav-left-body">
    <ul class="nav-list">
      <li class="nav-list-item">
        <i class="fas fa-plus-circle"></i>Onboarding

      </li>

      <li class="nav-list-item">
        <i class="fas fa-chart-line"></i>Analytics</li>
      <li class="nav-list-item">
        <i class="fas fa-calculator"></i>Billing</li>
      <li class="nav-list-item">
        <i class="fas fa-cog"></i>Configure Property
        <span class="list-chevron">
          <i class="fas fa-chevron-down"></i>
        </span>
      </li>

      <ul class="nav-list-child">
        <li class="nav-list-child-item">Alert Types</li>
        <li class="nav-list-child-item">Ticket Categories</li>
        <li class="nav-list-child-item">Staff Categories</li>
      </ul>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>Deactivate Property</li>
    </ul>
  </div>
</nav>
<div class="nav-top-header">
  <span class="hamburger">
    <i class="fas fa-bars"></i>
  </span>
  <span class="profile-section-handle d-block d-sm-none">
    <img src="./images/logo.png">
    <i class="fas fa-chevron-down"></i>
  </span>

  <span class="profile-section">
    <span class="profile-actions-section">
      <span class="global-search">
        Global Search
        <i class="fas fa-search"></i>
      </span>

      <span class="notifications">
        <i class="fas fa-bell"></i>
        <span class="notification-numbers">3</span>
      </span>

      <span class="notifications">
        <i class="fas fa-comment"></i>
        <span class="notification-numbers">8</span>
      </span>
    </span>
    <div class="profile-pic-section">
      <img src="https://avatars3.githubusercontent.com/u/20873985?v=4" alt="" class="profile-pic"> Khalnayak
      <i class="fas fa-chevron-down"></i>
    </div>
  </span>
</div>

<div class="container-fluid main-container">
  <div class="profile-section-mobile d-block d-sm-none">
    <div class="row">
      <div class="col">
        <span class="notifications">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="col">
        <span class="notifications">
          <i class="fas fa-bell"></i>
          <span class="notification-numbers">3</span>
        </span>
      </div>
      <div class="col">
        <span class="notifications">
          <i class="fas fa-comment"></i>
          <span class="notification-numbers">8</span>
        </span>
      </div>
      <div class="col">
        <span class="notifications">
          <i class="fas fa-power-off"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="page-heading-section">
      <div class="row">
        <div class="col-xs-12 col-md-6 page-heading">Add New Property</div>
        <div class="bread-crumb col-xs-12 col-md-6">Onboarding / Add New Property</div>
      </div>
    </div>
    <div class="page-content">
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
      <h4>Page content</h4>
    </div>
  </div>
</div>
