<div class="nav-top-header" [ngClass]="{'nav-closed': !isOpen}">
  <!-- Hamburger for Mobile -->
  <span class="d-inline d-sm-none">
    <span class="hamburger" (click)="clickHamburgerMobile()">
      <i class="fas" [ngClass]="hamburgerIcon"></i>
    </span>
  </span>
  <!-- Hamburger for Desktop -->
  <span class="d-none d-sm-inline">
    <span class="hamburger" (click)="clickHamburgerDesktop()">
      <i class="fas fa-bars"></i>
    </span>
  </span>
  <span class="profile-section-handle d-block d-sm-none"
    (click)="toggleProfileSection()">
    <img [src]="logoUrl" alt="">
    <i class="fas" [ngClass]="chevronClass"></i>
  </span>
  <app-mobile-profile-section *ngIf="isProfileSectionOpen"></app-mobile-profile-section>

  <span class="profile-section">
    <span class="profile-actions-section">
      <span class="global-search d-none d-lg-inline">
        Global Search
        <i class="fas fa-search"></i>
      </span>

      <span class="notifications d-inline d-lg-none m-search">
        <i class="fas fa-search"></i>
      </span>

      <span class="notifications">
        <i class="fas fa-bell"></i>
        <span class="notification-numbers">3</span>
      </span>

      <span class="notifications">
        <i class="fas fa-comment"></i>
        <span class="notification-numbers">8</span>
      </span>
    </span>
    <div class="profile-pic-section">
      <img src="https://avatars3.githubusercontent.com/u/20873985?v=4" alt="" class="profile-pic">
      <span class="d-none d-md-inline">Harry Potter</span>
      <i class="fas fa-chevron-down"></i>
    </div>
  </span>
</div>
