<nav class="navbar nav-left" [@slideInOut]
  [ngClass]="{'nav-closed': !isOpen, 'nav-open-mobile': !isOpenMobile }">
  <div class="nav-left-header">
    <span class="logo" [ngClass]="{'icon-display': !isOpen }">
      <img [src]="isOpen ? logoUrl: iconUrl" alt="Baadi Logo">
    </span>
  </div>
  <div class="nav-left-body">
    <ul class="nav-list" [ngClass]="{'nav-list-condensed': !isOpen}">
      <app-nav-list-item
        *ngFor="let navMenuItem of navMenuItems"
        [isNavOpen]="isOpen"
        [menu]="navMenuItem"
      ></app-nav-list-item>
    </ul>
  </div>
</nav>
