// Color variables
$primary-color: #333;
$primary-color-light: #999;
$logo-orange: #0077B5;
$logo-orange-light: #AAE1FF;
$light-grey: #DDD;
$very-light-grey: #EAEAEA;
$highly-light-grey: #F9FAFB;
$nav-grey-bg: #FFFF;
$nav-grey-border: #F3F3F3;
$nav-orange-bg: #FFFAF9;
$ok-green: #005E00;
$error-orange: #D50000;
$google-blue: #4285F4;

$left-nav-link-color: #72777A;
$light-border: #EFEFEF;
$error-label-color:#FF5722;

// Other variables
$font-stack: 'Montserrat', 'Segoe UI', sans-serif;
$admin-left-nav-width: 270px;
$admin-left-nav-width-mobile: 300px;
$admin-left-nav-width-closed: 55px;
