// Import third party libraries
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);

// Import variables and mixins
@import './variables';
@import './mixins';

* {
  font-family: $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

li:visited, li:active, li:focus {
  outline: none !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: none !important;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.red-border {
  border: 1px solid red;
}

body {
  background: $highly-light-grey;
}

.container-fluid {
  margin: 0;
  padding: 0;
  padding-left: $admin-left-nav-width;
  transition: 0.4s;
}

.main-container {
  padding-top: 55px;
}

.nav-top-header {
  position: fixed;
  top: 0; /* required */
  right: 0;
  left: $admin-left-nav-width;
  z-index: 1000;
  background: #FFF;
  //box-shadow: 3px 0px 5px 0px #EEE;
  border-bottom: 1px solid $light-border;
  transition: 0.4s;

  .hamburger i {
    font-size: 1.35rem;
    color: $logo-orange;
    cursor: pointer;
    padding: 12px;
    padding-left: 18px;
  }

  .profile-section {
    float: right;
    padding: 5px 15px 0px 5px;
    vertical-align: top;
  }

  .profile-actions-section {

    position: relative;
    top: 3px;

    i {
      margin-right: 12px;
      font-size: 0.9rem;
      cursor: pointer;
      color: $primary-color-light;
    }

    .global-search {
      color: $left-nav-link-color;
      font-size: 0.75rem;
      cursor: pointer;
      border: 1px solid $very-light-grey;
      border-radius: 3px;
      padding: 7px 0px 7px 10px;
      margin-right: 18px;
      position: relative;
      top: -3px;

      i {
        color: $left-nav-link-color;
        margin: 0px 5px;
        font-size: 0.75rem;
      }
    }

    .global-search:hover {
      background: $highly-light-grey;
      transition: 0.3s ease-in;
    }

    .notification-numbers {
      position: relative;
      font-size: 0.55rem;
      background: $logo-orange;
      padding: 1px 4px;
      border-radius: 50%;
      color: #FFF;
      left: -15px;
      top: -15px;
    }
  }

  .profile-pic-section {
    display: inline-block;
    cursor: pointer;

    span {
      font-size: 0.8rem;
      color: $left-nav-link-color;
    }

    img {
      margin-right: 5px;
    }

    i {
      color: $logo-orange;
      font-size: 0.75rem;
      margin-left: 5px;
    }
  }

  .profile-pic {
    border-radius: 50%;
    width: 35px;
  }
}

.page-heading-section {
  margin: 5 px;
}



nav.nav-left {
  z-index: 1500;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  bottom: 0;
  width: $admin-left-nav-width;
  background: $nav-grey-bg;
  border-right: 1px solid $nav-grey-border;
  display: inline-block;
  padding: 0;
  transition: 0.4s;
  overflow-y: auto;

  .nav-left-header {
    background: #FFF;
    color: #FFF;
    padding: 8px 10px;
    padding-bottom: 7px;
    //box-shadow: -3px 0px 10px 0px #EEE;
    border-bottom: 1px solid $light-border;

    .logo img {
      width: 83px;
      margin-left: 6px;
      transition: 0.3s;
    }
  }
}

.profile-section-handle {
  float: right;
  padding: 8px;

  img {
    width: 75px;
    margin-right: 2px;
  }

  i.fas {
    color: $logo-orange;
    margin: 8px;
    font-size: 0.8rem;
  }
}

.collapse-menu {
  cursor: pointer;
  margin: 10px;
  padding: 10px 10px 10px 15px;
  background: #FFF;
  border-radius: 3px;
  color: $logo-orange;
  font-size: 0.8rem;

  i {
    color: $logo-orange;
  }
}

.nav-list-condensed {
  .nav-list-item-text,
  i.chevron,
  ul.nav-list-child {
    display: none;
  }

  .nav-list-item:hover {
    background: $logo-orange !important;
    i {
      color: #FFF !important;
    }
  }
}



@media (max-width: 576px) {
  .container-fluid {
    padding-left: 0px;
  }

  nav.nav-left {
    width: 0px;
    display: none;
  }

  .profile-section {
    display: none;
  }

  .nav-top-header {
    left: 0;
  }
}

.page-content {
  background: #FFF;
  margin: 10px;
  padding: 15px;
  //box-shadow: -3px 0px 10px 0px #EEE;
  border: 1px solid $light-border;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1px;

  .nav-list-item-text {
    color: $left-nav-link-color;
  }

  .nav-list-item {
    cursor: pointer;
    color: $logo-orange;
    font-size: 1rem;
    margin: 0 !important;
    padding: 8px 10px 8px 18px;
    transition: 0.4s;

    position: relative;

    i {
      color: $logo-orange;
      margin-right: 10px;
      font-size: 0.8rem;
    }

    i.chevron {
      font-size: 0.6rem !important;
    }
  }

  .nav-list-item:hover {
    background: #FFF;
    transition: 0.4s;
  }
}

.nav-list-child {
  list-style: none;
  margin-top: 10px;
  padding-left: 33px;
  .nav-list-child-item {
    color: $logo-orange;
    font-size: 0.85rem;
    margin: 15px;
    cursor: pointer;
  }
}

@media (min-width: 576px) {
  .nav-list {
    .nav-list-item {
      font-size: 0.85rem;
      font-weight: 600;
      padding: 10px 10px 10px 18px;

      i {
        font-size: 13px;
      }
    }
    padding-bottom: 20px;
  }

  .nav-list-child {
    padding-left: 45px;
    padding-top: 0px;
    .nav-list-child-item {
      margin: 10px 0px;
      font-size: 0.75rem;
      color: $left-nav-link-color;
    }
  }
}

.list-chevron {
  float: right;
  padding-right: 0px;
  i.fas {
    font-size: 12px;
  }
}

// Form controls
.form-group {
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

.form-control-placeholder {
  position: absolute;
  top: 12px;
  transition: all 0.3s;
  font-size: 0.8rem;
  opacity: 0.6;
  cursor: auto;

  i {
    font-size: 0.8rem;
    margin-right: 5px;
  }

  i.fa-check-circle {
    color: $ok-green;
  }

  i.fa-times-circle {
    color: $error-orange;
  }
}

.form-group > input {
  padding: 10px 0px;
  font-size: 0.75rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $light-grey;
}

.form-group > input:focus,
.form-group > input:active {
  outline: none;
  outline-width: 0;
  outline-style: none;
  box-shadow: none;
  border-color: $logo-orange-light;
  transition: 0.3s;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 0.65rem;
  transform: translate3d(0, -22px, 0);
  opacity: 1;
  color: #888 !important;
  visibility: visible;

  i {
    font-size: 0.7rem;
  }
}

.error-label {
  color: $error-label-color;
  font-size: 0.7rem;
}

.invalid-state {
  border-bottom: 1px solid $error-label-color !important;
}

.error-message {
  font-size: 0.7rem;
  text-align: center;
  color: $error-label-color;
  i {
    color: $error-label-color;
    margin-right: 5px;
  }
}

.margin-t--10 {
  margin-top: -10px;
}

.margin-b-0 {
  margin-bottom: 0px;
}

.margin-b-n-5 {
  margin-bottom: 5px;
}

.margin-b-n-10 {
  margin-bottom: -10px;
}

// .form-group > label {
//   font-size: 0.9rem;
//   margin-bottom: 2px;
//   color: #999;
// }

// Styles for AG-Grid
.ag-body-viewport {
  overflow-y: hidden;
}

.ag-body-container {
}