<div class="profile-section-mobile d-block d-sm-none">
    <div class="row">
      <div class="col">
        <span class="notifications">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="col">
        <span class="notifications">
          <i class="fas fa-bell"></i>
          <span class="notification-numbers">3</span>
        </span>
      </div>
      <div class="col">
        <span class="notifications">
          <i class="fas fa-comment"></i>
          <span class="notification-numbers">8</span>
        </span>
      </div>
      <div class="col">
        <span class="notifications">
          <i class="fas fa-power-off"></i>
        </span>
      </div>
    </div>
  </div>