@import '~sass/variables';
@import '~sass/mixins';

.profile-section-mobile {
  width: 100%;
  background: #FFF;
  padding: 12px 5px;
  border-top: 1px solid $highly-light-grey;
  border-bottom: 1px solid $very-light-grey;
  opacity: 0.9;
  font-size: 0.9rem;

  i {
    font-size: 0.9rem;
    color: $logo-orange;
  }

  .col {
    text-align: center;
  }
}
