<nav class="navbar nav-left">
  <div class="nav-left-header">
    <span class="logo">
      <img [src]="logoUrl" alt="">
    </span>
  </div>
  <div class="nav-left-body">
    <ul class="nav-list">
      <li class="nav-list-item">
        <i class="fas fa-plus-circle"></i>Onboarding

      </li>

      <li class="nav-list-item">
        <i class="fas fa-chart-line"></i>Analytics</li>
      <li class="nav-list-item">
        <i class="fas fa-calculator"></i>Billing</li>
      <li class="nav-list-item">
        <i class="fas fa-cog"></i>Configure Property
        <span class="list-chevron">
          <i class="fas fa-chevron-down"></i>
        </span>
      </li>

      <ul class="nav-list-child">
        <li class="nav-list-child-item">Alert Types</li>
        <li class="nav-list-child-item">Ticket Categories</li>
        <li class="nav-list-child-item">Staff Categories</li>
      </ul>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>Deactivate Property</li>
    </ul>
  </div>
</nav>
