<nav class="navbar nav-left" [ngClass]="{'nav-closed': !isOpen}">
  <div class="nav-left-header">
    <span class="logo" [ngClass]="{'icon-display': !isOpen }">
      <img [src]="isOpen ? logoUrl: iconUrl" alt="Baadi Logo">
    </span>
  </div>
  <div class="nav-left-body">
    <ul class="nav-list" [ngClass]="{'nav-list-condensed': !isOpen}">
      <app-nav-list-item [isNavOpen]="isOpen"></app-nav-list-item>
      <li class="nav-list-item">
        <i class="fas fa-chart-line"></i>
        <span class="nav-list-item-text">Analytics</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-calculator"></i>
        <span class="nav-list-item-text">Billing</span>
      </li>


      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <app-nav-list-item [isNavOpen]="isOpen"></app-nav-list-item>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
      <li class="nav-list-item">
        <i class="fas fa-minus-square"></i>
        <span class="nav-list-item-text">Deactivate Property</span>
      </li>
    </ul>
  </div>
</nav>
