@import "https://fonts.googleapis.com/css?family=Open+Sans";

// Color variables
$primary-color: #333;
$primary-color-light: #999;
$logo-orange: #EE3B24; 
$logo-orange-light: #FBCCC6;
$light-grey: #DDD;
$very-light-grey: #EAEAEA;
$highly-light-grey: #F9F9F9;
$nav-grey-bg: #F2F2F2;
$nav-grey-border: #F3F3F3;
$nav-orange-bg: #FFFAF9;

// Other variables
$font-stack: 'Open Sans', 'Segoe UI', sans-serif;
$admin-left-nav-width: 270px;

* {
  font-family: $font-stack;
  color: $primary-color;
}

/* Start of Login Page styles */

.login-container {
  background: $highly-light-grey;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-card {
  margin: auto;
  border-radius: 0px;
  -moz-border-radius: 0px;
  padding: 10px 20px;
  border: none;
  box-shadow: $light-grey 0px 0px 20px 3px;
}

.login-logo-image {
  text-align: center;
  margin-bottom: 10px;
}

.login-logo-image-light > img {
  width: 70px;
}

.login-logo-desc-text {
  text-align: justify;
  padding: 15px;
  color: #BBB;
  font-size: 0.7rem;
}

/* Responsive styles for mobile */
@media (min-width: 576px) {
  .login-card {
    margin: auto;
    width: 95%;
    max-width: 400px;
    margin-top: 70px;
    border: none;
    box-shadow: $very-light-grey 0px 0px 20px 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
  }

  .login-logo-desc-text-container {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background: #F1F1F1;
    padding: 5px;
  }

  .login-logo-desc-text {
    color: $primary-color-light;
  }
}

.form-group > input {
  padding: 12px 0px;
  font-size: 0.9rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $light-grey;
}

.form-group > input::placeholder {
  color: $primary-color-light;
}

.form-group > input:focus,
.form-group > input:active {
  outline: none;
  outline-width: 0;
  outline-style:none;
  box-shadow:none;
  border-color: $logo-orange-light;
}

.form-group > label {
  font-size: 0.9rem;
  margin-bottom: 2px;
  color: #999;
}

.btn-login {
  width: 100%;
  padding: 10px 12px;
  background: $logo-orange;
  color: #FFF;
  font-size: 0.9rem;
  margin: 10px 0px;

  i.fa {
    color: #FFF;
    margin-right: 4px;
    font-size: 0.7rem;
  }
}

.login-logo-text {
  color: #777;
  font-size: 1.3rem;
  text-align: center;
  margin: 7px 0px 20px 0px;
}

.small-light-link {
  text-align: center;

  a {
    text-decoration: none !important;
    font-size: 0.8rem;
    color: $primary-color-light;
  }
}

.login-footer {
  margin-top: 40px;
  font-size: 0.8rem;
  color: $primary-color-light;
  text-align: center;
}

.login-logo-image-light {
  margin: 30px 0px 10px 0px;
}

.app-store-links {
  margin: 10px 0px 0px 0px;
  a {
    margin: 0px 10px;
  }
}

/* End of Login Page styles */


/* Start of styles for portal */
.row {
  margin: 0 !important;
  padding: 0 !important;
}

.red-border {
  border: 1px solid red;
}

body {
  background: $highly-light-grey;
}

.container-fluid {
  margin: 0;
  padding: 0;
  padding-left: $admin-left-nav-width;
}

.main-container {
  padding-top: 55px;
}

.nav-top-header {
  position: fixed;
  top: 0; /* required */
  right: 0;
  left: $admin-left-nav-width;
  z-index: 1000;
  background: #FFF;
  box-shadow: 3px 0px 5px 0px #EEE;

  .hamburger i {
    font-size: 1.5rem;
    color: $logo-orange;
    cursor: pointer;
    padding: 16px;
    padding-left: 22px;
  }

  .profile-section {
    float: right;
    padding: 9px 25px 0px 5px;
    vertical-align: top;
  }

  .profile-actions-section {

    position: relative;
    top: 3px;

    i {
      margin-right: 15px;
      font-size: 18px;
      cursor: pointer;
      color: $primary-color-light;
    }

    .global-search {
      color: $logo-orange;
      font-size: 0.9rem;
      cursor: pointer;
      border: 1px solid $very-light-grey;
      border-radius: 3px;
      padding: 10px 0px 10px 15px;
      margin-right: 20px;

      i {
        color: $logo-orange;
        margin: 0px 10px;
        font-size: 13px;
      }
    }

    .global-search:hover {
      background: $highly-light-grey;
      transition: 0.3s ease-in;
    }

    .notification-numbers {
      position: relative;
      font-size: 0.55rem;
      background: $logo-orange;
      padding: 2px 5px;
      border-radius: 50%;
      color: #FFF;
      left: -15px;
      top: -15px;
    }
  }

  .profile-pic-section {
    display: inline-block;
    cursor: pointer;
    font-size: 0.85rem;
    color: $logo-orange;

    img {
      margin-right: 5px;
    }

    i {
      color: $logo-orange;
      width: 5px;
      margin-left: 5px;
    }
  }

  .profile-pic {
    border-radius: 50%;
    width: 35px;
  }
}

.page-heading-section {
  margin: 15px 20px;
}

.page-heading {
  color: $logo-orange;
  font-size: 1.3rem;
  font-weight: 600;

  .bread-crumb {
    font-size: 0.85rem;
    float: right;
    padding-top: 5px;
    font-weight: 400;
    cursor: pointer;
  }
}

nav.nav-left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: $admin-left-nav-width;
  background: $nav-grey-bg;
  border-right: 1px solid $nav-grey-border;
  display: inline-block;
  padding: 0;

  .nav-left-header {
    background: #FFF;
    color: #FFF;
    padding: 10px;
    box-shadow: -3px 0px 10px 0px #EEE;

    .logo img {
      width: 100px;
      margin-left: 6px;
    }
  }
}

.profile-section-handle {
  float: right;
  padding: 9px 10px;

  img {
    width: 90px;
    margin-right: 8px;
  }

  i.fas {
    color: $logo-orange;
    margin: 8px;
  }
}

.profile-section-mobile {
  width: 100%;
  background: #FFF;
  padding: 18px 5px 12px 5px;
  border-top: 1px solid $highly-light-grey;
  border-bottom: 1px solid $very-light-grey;
  box-shadow: 0px 0px 10px 0px #EEE;
  position: sticky !important;

  i {
    font-size: 1.2rem;
    color: $logo-orange;
  }

  .col {
    text-align: center;
  }
}

.collapse-menu {
  cursor: pointer;
  margin: 10px;
  padding: 10px 10px 10px 15px;
  background: #FFF;
  border-radius: 3px;
  color: $logo-orange;
  font-size: 0.8rem;

  i {
    color: $logo-orange;
  }
}

@media (min-width: 576px) { 
  .bread-crumb {
    text-align: right;
    margin-top: 3px;
    cursor: pointer;
  }  
}

@media (max-width: 576px) {
  .container-fluid {
    padding-left: 0px;
  }

  nav.nav-left {
    width: 0px;
    display: none;
  }

  .profile-section {
    display: none;
  }

  .nav-top-header {
    left: 0;
  }
}

.page-content {
  background: #FFF;
  margin: 15px;
  padding: 15px;
  box-shadow: -3px 0px 10px 0px #EEE;
}

.nav-list {
  list-style: none;
  margin-top: 20px;
  padding-left: 20px;

  .nav-list-item {
    cursor: pointer;
    color: $logo-orange;
    font-size: 1.2rem;
    margin: 10px 0px;

    i {
      color: $logo-orange;
      margin-right: 10px;
      font-size: 22px;
    }
  }
}

.nav-list-child {
  list-style: none;
  padding-left: 32px;
  .nav-list-child-item {
    color: $logo-orange;
    font-size: 1.2rem;
    margin: 5px 0px;
    cursor: pointer;
  }
}

@media (min-width: 576px) {
  .nav-list {  
    .nav-list-item {
      font-size: 1rem;
      margin: 15px 0px;
  
      i {
        font-size: 16px;
      }
    }
  }

  .nav-list-child {
    padding-left: 26px;
    .nav-list-child-item {
      font-size: 1rem;
    }
  }
}

.list-chevron {
  float: right;
  padding-right: 10px;
  i.fas {
    font-size: 12px;
  }
}

/* End of styles for portal */