@import '../../../../sass/variables';

.form-group > input {
  padding: 12px 0px;
  font-size: 0.9rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $light-grey;
}

.form-group > input::placeholder {
  color: $primary-color-light;
}

.form-group > input:focus,
.form-group > input:active {
  outline: none;
  outline-width: 0;
  outline-style:none;
  box-shadow:none;
  border-color: $logo-orange-light;
}

.form-group > label {
  font-size: 0.9rem;
  margin-bottom: 2px;
  color: #999;
}
