@import '~sass/variables';
@import '~sass/mixins';

.page-heading {
  color: $left-nav-link-color !important;
  font-size: 1.1rem;
  padding-left: 20px !important;
  font-weight: 600;
}

.bread-crumb {
  font-size: 0.8rem;
  padding-left: 20px !important;
  font-weight: 400;
  // cursor: pointer;
  text-decoration: none;
  span {
    color: #999 !important;
  }
}

@media (min-width: 576px) {
  .bread-crumb {
    text-align: right;
    margin-top: 3px;
    // cursor: pointer;
    padding-right: 20px !important;
    span {
      color: #999 !important;
    }
  }
}
